{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Primary Meta Tags -->
    <title>JALIL MS | Founding CEO & Chief Mentor, Career Guru</title>
    <meta name="title" content="JALIL MS | Founding CEO & Chief Mentor, Career Guru" />
    <meta name="description"
        content="Best qualified trainer and experienced career guidance expert at the National and International levels." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jalilms.com/" />
    <meta property="og:title" content="JALIL MS | Founding CEO & Chief Mentor, Career Guru" />
    <meta property="og:description"
        content="Best qualified trainer and experienced career guidance expert at the National and International levels." />
    <meta property="og:image" content="https://jalilms.com/static/web/img/preview.png" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://jalilms.com/" />
    <meta name="twitter:title" content="JALIL MS | Founding CEO & Chief Mentor, Career Guru" />
    <meta name="twitter:description"
        content="Best qualified trainer and experienced career guidance expert at the National and International levels." />
    <meta name="twitter:image" content="https://jalilms.com/static/web/img/preview.png" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://jalilms.com/" />
    <meta property="twitter:title" content="JALIL MS | Founding CEO & Chief Mentor, Career Guru" />
    <meta property="twitter:description"
        content="Best qualified trainer and experienced career guidance expert at the National and International levels." />
    <meta property="twitter:image" content="https://jalilms.com/static/web/img/preview.png" />

    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}?v=1.1" />
    <link rel="stylesheet" href="{% static 'web/css/animate.min.css' %}?v=1.1" />
    <link rel="stylesheet" href="{% static 'web/css/owl.carousel.min.css' %}?v=1.1" />
    <link rel="stylesheet" href="{% static 'web/css/magnific.popup.min.css' %}?v=1.1" />
    <link rel="stylesheet" href="{% static 'web/css/fontawesome.all.min.css' %}?v=1.1" />
    <link rel="stylesheet" href="{% static 'web/css/meanmenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/color.css' %}?v=1.1" />
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}?v=1.1" />
    <link rel="stylesheet" href="{% static 'web/css/responsive.css' %}?v=1.1" />
    <link rel="stylesheet" href="{% static 'web/css/contact.success.css' %}?v=1.1" />

    <link rel="icon" type="image/png" href="{% static 'web/img/jmsfav.svg' %}?v=1.1" />

</head>

<body>
    {% include "partials/header.html" %}

    {% block content %}

    {% endblock%}

    {% include "partials/footer.html" %}

    <script src="{% static 'web/js/jquery.min.js' %}"></script>
    <script src="{% static 'web/js/popper.min.js' %}"></script>
    <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/meanmenu.min.js' %}"></script>
    <script src="{% static 'web/js/magnific.popup.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'web/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'web/js/main.js' %}"></script>
    <script src="{% static 'web/js/ajax.js' %}"></script>
</body>

</html>
