<div class="top-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-flex text-white flex-nowrap align-items-center">
                    <span class="heading">Career Notifications:</span>
                    <marquee class="marquee" scrollamount="6">
                        {% for notification in notification %}
                        <span class="item">{{notification.notification}}</span>
                        {% endfor %}
                    </marquee>
                </div>
            </div>
        </div>
    </div>
</div>