{% extends 'partials/base.html' %}

{% load static %}
{% block content %}

<!-- Banner Area Start -->

{% comment %} <section id="common_banner_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_banner_inner">
                    <h2>About</h2>
                    <ul>
                        <li><a href="{% url 'web:index' %}">Home</a></li>
                        <li class="active">About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}

<!-- Banner Area End -->



<!-- About Area start -->
<section id="joinus_area" class="section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <div class="join_text">

                    <h2>Career Guru M.S. Jalil Empowers Over 1 Million + Beneficiaries Globally</h2>
                    <p style="text-align:justify;">Mr Jalil M S is a renowned career guidance strategist and qualified
                        trainer who spread his wings at both national and international levels. He is also the Managing
                        Director and Chief Career Mentor at Career Guru</p>
                    <p style="text-align:justify;">More than 10 lakh beneficiaries benefited from the excellence of
                        professional excellence, including students, parents, teachers, and trainers. Mr Jalil has
                        spoken at thousands of venues as a trainer and speaker during his over two decades in career
                        guidance.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-lg-6" style="text-align:center;">
                        <div class=" who_right_area">
                            <div class="testimonial_items border">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="testimonials_items_details">

                                            <h3 style="color: var(--main-theme-color);">Career Expert</h3>

                                            <p>Unlock your full potential with a skilled career counsellor</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" style="text-align:center;">
                        <div class="testimonials_area_wrappers">
                            <div class="testimonial_items border">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="testimonials_items_details">

                                            <h3 style="color: var(--main-theme-color);">Teachers Trainer</h3>

                                            <p>Enhance your teaching skills with a comprehensive trainer program.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6" style="text-align:center;">
                        <div class="testimonials_area_wrappers">
                            <div class="testimonial_items border">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="testimonials_items_details">

                                            <h3 style="color: var(--main-theme-color);">Media Presenter</h3>

                                            <p>Engage your audience with a dynamic media presenter.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" style="text-align:center;">
                        <div class="testimonials_area_wrappers">
                            <div class="testimonial_items border">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="testimonials_items_details">

                                            <h3 style="color: var(--main-theme-color);">Qualified Speaker</h3>

                                            <p>Inspire and educate with a qualified speaker.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- About Area End-->

<!-- PositionTaken Area Start-->
{% comment %} <section id="testimonials_arae_main" class="section_padding">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12">
                <div class="section_title_arae">
                    <h4>Services</h4>
                    <h2>Positions taken</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonials_area_wrappers">
                    <div class="testimonial_items border">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="testimonials_items_details">
                                    <h3>Professional Career exhibition</h3>
                                    <div class="testimonial_rating">
                                        <span>June 15, 2013 - 2016</span>
                                    </div>
                                    <p>Regular presenter for Horizon, a Professional Career exhibition venture of
                                        Malayala
                                        Manorama.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonials_area_wrappers">
                    <div class="testimonial_items border">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="testimonials_items_details">
                                    <h3>Experienced TV and Radio Presenter</h3>
                                    <div class="testimonial_rating">
                                        <span>June 12, 2010 - 2013</span>
                                    </div>
                                    <p>Regular Presenter in TV & Radio channels,[MediaOne, Kairali TV, Hit FM [Dubai],
                                        Asianet Radio
                                        [Dubai], Radio Asia[Ras Al Khaima].</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonials_area_wrappers">
                    <div class="testimonial_items border">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="testimonials_items_details">
                                    <h3>Licensed DAT Counsellor</h3>
                                    <div class="testimonial_rating">
                                        <span>June 1, 2009 - 2010</span>
                                    </div>
                                    <p>Accredited and Licensed DAT Counsellor [Differen al Aptitude Test,
                                        PearsonLondon].</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonials_area_wrappers">
                    <div class="testimonial_items border">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="testimonials_items_details">
                                    <h3>Expert Columnist and Writer</h3>
                                    <div class="testimonial_rating">
                                        <span>June 1, 2009 - 2010</span>
                                    </div>
                                    <p>Columnist- Ask the Expert, Malayala Manorama Daily.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonials_area_wrappers">
                    <div class="testimonial_items border">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="testimonials_items_details">
                                    <h3>Aptitude Test Administration</h3>
                                    <div class="testimonial_rating">
                                        <span>June 1, 2009 - 2010</span>
                                    </div>
                                    <p>Completed DAT Counseling and Administration at Regional Institute of Education,
                                        Mysore.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonials_area_wrappers">
                    <div class="testimonial_items border">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="testimonials_items_details">
                                    <h3>Module Designer for Youth Institutes</h3>
                                    <div class="testimonial_rating">
                                        <span>March 12, 2020</span>
                                    </div>
                                    <p>Designer of Training Modules for Nehru Yuvakendra and Rajiv Gandhi National
                                        Institute of Youth Development, Chennai.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonials_area_wrappers">
                    <div class="testimonial_items border">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="testimonials_items_details">
                                    <h3>Chief Editor for Career Handbook</h3>
                                    <div class="testimonial_rating">
                                        <span>January 23, 2018 - 2020</span>
                                    </div>
                                    <p>Chief Editor, Career Handbook for Department of Higher Education, Govt of Kerala.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonials_area_wrappers">
                    <div class="testimonial_items border">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="testimonials_items_details">
                                    <h3>Member of National Resource Team</h3>
                                    <div class="testimonial_rating">
                                        <span>July 23, 2016 - 2018</span>
                                    </div>
                                    <p>Team Member, National Adolescent Resource Team [NART], Ministry of youth affairs,
                                        Govt of India.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonials_area_wrappers">
                    <div class="testimonial_items border">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="testimonials_items_details">
                                    <h3>Personality Assessment Training</h3>
                                    <div class="testimonial_rating">
                                        <span>July 23, 2016 - 2018</span>
                                    </div>
                                    <p>Completed MBTI Certification Course from RIE</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<!-- PositionTaken Area End-->


<!-- PositionTaken Area Start lamiiz-->
<section id="testimonials_arae_main" class="section_padding">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12">
                <div class="section_title_arae">
                    <h4>Services</h4>
                    <h2>Positions taken</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in positionsToken %}
            <div class="col-lg-6">
                <div class="testimonials_area_wrappers">
                    <div class="testimonial_items border">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="testimonials_items_details">
                                    <h3>{{i.name}}</h3>
                                    <div class="testimonial_rating">
                                        {% comment %} <span>June 15, 2013 - 2016</span> {% endcomment %}
                                        <span>{{ i.fromDateTime|date:"F j, Y" }} - {{ i.toYear.year }}</span>
                                        {% comment %} <span>{{ i.fromDateTime|date:"F j, Y" }} - {% if i.fromDateTime.year != 2016 %}{{ i.fromDateTime.year }}{% endif %}</span> {% endcomment %}
                                    </div>
                                    <p>{{i.subtitle}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- PositionTaken Area End lamiiz-->


<!-- Join Us Area start -->
<section id="joinus_area" class="section_padding bg-custom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <div class="join_text">

                    <h2>Book an appointment</h2>
                    <p>Best qualified trainer and experienced career guidance expert at the National and International
                        levels.</p>
                    <a href="{% url 'web:contact' %}" class="btn btn-theme">Get Appointment</a>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="join_area_img">
                    <img src="{% static 'web/images/add/Untitled.png' %}" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Join Us Area End-->


<!-- Awards Area Start -->
{% comment %}
<section id="our_portfolio_area" class="section_padding  bg-custom">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12">
                <div class="section_title_arae">
                    <h4>Honours</h4>
                    <h2>Recognitions</h2>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="our_portfolio_slider owl-theme owl-carousel">
                    <div class="portfolio_area_item">
                        <img src="{% static 'web/images/portfolio/1.jpg' %}" alt="img">
                        <div id="awards">
                            <h5>Awarded by ACKAF</h5>
                            <p>Shared Excellence Award for Social </p>
                        </div>
                    </div>
                    <div class="portfolio_area_item">
                        <img src="{% static 'web/images/portfolio/2.jpg' %}" alt="img">
                        <div id="awards">
                            <h5>Honored by MPCC</h5>
                            <p>Winner of Prof Kunjayamu Memorial Foundation</p>
                        </div>
                    </div>
                    <div class="portfolio_area_item">
                        <img src="{% static 'web/images/portfolio/3.jpg' %}" alt="img">
                        <div id="awards">
                            <h5>Excellence Award</h5>
                            <p>Honored by MPCC– Malayalee Pravasee </p>
                        </div>
                    </div>

                    <div class="portfolio_area_item">
                        <img src="{% static 'web/images/portfolio/4.jpg' %}" alt="img">
                        <div id="awards">
                            <p>Winner of Prof Kunjayamu Memorial Founda on for Excellence Award - 2011, [Zamorins
                                Guruvayurappan College, Calicut]</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<!-- Awards Area End -->


<!-- awards Area Start lamiiz -->
<section id="our_portfolio_area" class="section_padding  bg-custom">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12">
                <div class="section_title_arae">
                    <h4>Honours</h4>
                    <h2>Recognitions</h2>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="our_portfolio_slider owl-theme owl-carousel">
                    {% for award in award %}
                    <div class="portfolio_area_item">
                        <img src="{{award.image.url}}" alt="img">
                        <div id="awards">
                            <h5>{{award.name}}</h5>
                            <p>{{award.subtitle}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- awards Area End lamiiz -->

<!-- Updates Area Start -->
<section id="news_and_blog" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12">
                <div class="section_title_arae">
                    <h4>Updates</h4>
                    <h2>News & Article</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in updates %}
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2">
                <div class="blog_area border">
                    <div class="blog_area_img">
                        <a href="{% url 'web:updates' i.id %}">
                            <img src="{{i.image.url}}" alt="img">
                        </a>
                    </div>
                    <div class="blog_area_text">
                        <p>{{i.subhead}}</p>
                        <h3><a href="{% url 'web:updates' i.id %}">{{i.title}}</a></h3>
                        <div class="blog_flex_area">
                            <p>{{i.date}}</p>
                            <a href="#!"><i class="fa fa-comment-alt"></i>5</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="{% url 'web:blog' %}" class="btn btn-theme" style="justify-content:center;">More Updates</a>
        </div>
    </div>
</section>
<!-- Updtates Area End-->

{% endblock %}